<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.techytech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechyTech">
        <activity android:name=".SeeCompleteOrderActivity"></activity>
        <activity android:name=".SellerMainActivity" />
        <activity android:name=".SellerLoginRegisterActivity" />
        <activity android:name=".SearchFoundActivity" />
        <activity android:name=".SearchTypeActivity" />
        <activity android:name=".ProductZoomImageActivity" />
        <activity android:name=".OrderDetailsActivity" />
        <activity android:name=".PaymentStatusActivtity" />
        <activity android:name=".ProceedToPaymentActivity" />
        <activity android:name=".ProceedToCheckoutActivity" />
        <activity android:name=".CategoryDetailActivity" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".OrdersActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ChooseLoginSignupActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_yyjcv3FMdG2nhN" />
    </application>

</manifest>